{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block head %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="fr"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Clément Pavel</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{{ asset('css/base.css') }}">
   <link rel="stylesheet" href="{{ asset('css/vendor.css') }}">  
   <link rel="stylesheet" href="{{ asset('css/main.css') }}">  

   <!-- script
   ================================================== -->
	<script src="{{ asset('js/modernizr.js') }}"></script>
	<script src="{{ asset('js/pace.min.js') }}"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
	<link rel="icon" href="favicon.png" type="image/x-icon">

</head>


{% endblock %}

{% block body %}
<body id="top">

	<!-- header 
   ================================================== -->
   <header> 

   	<div class="header-logo">
	      <a href="">Howdy</a>
	   </div> 

		<a id="header-menu-trigger" href="#0">
		 	<span class="header-menu-text">Menu</span>
		  	<span class="header-menu-icon"></span>
		</a> 

		<nav id="menu-nav-wrap">

			<a href="#0" class="close-button" title="close"><span>Close</span></a>	

	   	<h3>Pavel.</h3>  

			<ul class="nav-list">
				<li class="current"><a class="smoothscroll" href="#home" title="">Home</a></li>
				<li><a class="smoothscroll" href="#about" title="">A Propos</a></li>
				<li><a class="smoothscroll" href="#credentials" title="">Experience</a></li>		
				<li><a class="smoothscroll" href="#portfolio" title="">Portfolio</a></li>
				<li><a class="smoothscroll" href="#contact" title="">Contact</a></li>						
			</ul>	

			<ul class="header-social-list">
	         <li>
	         	<a href="https://github.com/Dummy420"><i class="fa fa-github"></i></a>
	         </li>
	         <li>
	         	<a href="#"><i class="fa fa-linkedin"></i></a>
	         </li>
	      </ul>		

		</nav>  <!-- end #menu-nav-wrap -->

	</header> <!-- end header -->  


   <!-- home
   ================================================== -->
   <section id="home">

   	<div class="overlay"></div><div class="gradient-overlay"></div>

   	<div class="home-content-table">		   

		   <div class="home-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve">		   			
			  			<div class="home-bottom-text">

			  				<h3 class="animate-intro">Hello, World.</h3>
				  			<h1 class="animate-intro">
							Je suis Clément Pavel, <br>
							Étudiant en BTS SIO<br>
							Option SLAM 
				  			</h1>	

							<ul class="home-section-links">
								<li class="animate-intro">A <a href="#about" class="smoothscroll">Propos</a></li>
								<li class="animate-intro">Voir <a href="#portfolio" class="smoothscroll">Portfolio</a></li>
								<li class="animate-intro">Contact <a href="#contact" class="smoothscroll">Par Mail</a></li>								
							</ul>

			  			</div> <!-- end home-bottom-text -->
			   	</div> <!-- end col-twelve --> 
		   	</div> <!-- end row --> 
		   </div> <!-- end home-content-tablecell --> 		   
		</div> <!-- end home-content-table -->

		<a href="#about" class="scroll-icon smoothscroll">		
		   <span class="icon-DownArrow"></span>
		</a>	
   
   </section> <!-- end home -->


   <!-- about
   ================================================== -->
   <section id="about">

   	<div class="about-profile-bg"></div>

   	<div class="about-wrap">

   		<div class="about-profile">

   			<div class="about-profile-bg"></div>

				<div class="intro">
					<h3 class="animate-this">About</h3>
	   			<h1 class="animate-this">A propos de Moi.</h1>

	   			<p class="lead animate-this">Je suis Étudiant en BTS SIO option SLAM, dans l'informatique de Gestion, Plus précisément le Développement de Solutions informatique</p>					
				</div>
   			<p>
   				<a href="{{ asset ('CV_Pavel.pdf')}}" class="button full-width animate-this">Voir mon CV</a>
   			</p>  			

   		</div> <!-- end about-profile  -->	

   	</div> <!-- end about-wrap  -->

   </section> <!-- end about -->


   <!-- about
   ================================================== -->
   <section id="skills">

   	<div class="overlay"></div>
   	<div class="gradient-overlay"></div>
   	
   	<div class="row wide">
   		<div class="col-skills">

   			<div class="section-intro">
   				<h3 class="animate-this">Compétences</h3>
   			   <h1 class="animate-this">Mes différentes compétences profesionelles</h1>
   			
   			   <p class="animate-this"></p>
   			</div>

   			<ul class="skill-bars">
				   <li class="animate-this" data-animate="fadeInRight">
				   	<div class="progress percent80"><span>80%</span></div>
				   	<strong>Programation Orienté Objet</strong>
				   </li>
				   <li class="animate-this" data-animate="fadeInRight">
				   	<div class="progress percent75"><span>75%</span></div>
				   	<strong>Symfony</strong>
				   </li>
				   <li class="animate-this" data-animate="fadeInRight">
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>Base de Données SQL</strong>
				   </li>
				   <li class="animate-this" data-animate="fadeInRight">
				   	<div class="progress percent85"><span>85%</span></div>
				   	<strong>PHP</strong>
				   </li>
				   <li class="animate-this" data-animate="fadeInRight">
				   	<div class="progress percent75"><span>75%</span></div>
				   	<strong>Programmation Web</strong>
				   </li>   
				   <li class="animate-this" data-animate="fadeInRight">
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>Programmation C# .NET</strong>
				   </li>   
				</ul>
   			
   		</div> <!-- end col-six -->
   	</div> <!-- end row wide -->

   </section> <!-- end skills -->


   <!-- credentials
   ================================================== -->
   <section id="credentials">

   	<div class="row narrow section-intro with-bottom-sep">
   		<div class="col-twelve">
   			<h3 class="animate-this">Crrière et Éducation</h3>
	   		<h1 class="animate-this">Mes experiences profesionelles et diplômes.</h1>  			
	   		
	   		{#<p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>	   			#}
   		</div>   		
   	</div> <!-- end section-intro -->

		<div class="row wide credentials-content">

			<div class="col-six tab-full left">

				<h2 class="animate-this">Experience</h2>

	   		<div class="timeline-wrap">

   				<div class="timeline-block animate-this">
	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>
	   				<div class="timeline-header">
	   					<p class="timeframe">Mai - Juin 2019</p>
	   					<h3>Cea Saclay</h3>
	   					<h4>Stage</h4>	   					
	   				</div>
	   				<div class="timeline-content">	   					
	   					<p>Un Stage de première année de BTS dans lequel j'ai crée une application php de gestion de matériel informatique</p>
	   				</div>
	   			</div> <!-- end timeline-block -->

   			</div> <!-- end timeline-wrap -->				
   		
	   	</div> <!-- end col-six -->

	   	<div class="col-six tab-full right">

	   		<h2 class="animate-this">Éducation</h2>

				<div class="timeline-wrap">

   				<div class="timeline-block ">
	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>
	   				<div class="timeline-header animate-this">
	   					<p class="timeframe">2015 - 2018</p>
	   					<h3>Lycée Jehan de Beauce</h3>
	   					<h4>Bac Sti2D option SIN</h4>	   					
	   				</div>
	   				<div class="timeline-content">	   					
	   					<p>J'ai obtenu mon Bac STI2D au lycée Jehan de Beauce avec mention AB en 2018, option Système d'Information et Numérique</p>
	   				</div>
	   			</div> <!-- end timeline-block -->

	   			<div class="timeline-block animate-this">
	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>
	   				<div class="timeline-header">
	   					<p class="timeframe">2018 - 2020</p>
	   					<h3>Lycée Fulbert</h3>
	   					<h4>BTS SIO option SLAM</h4>	   				
	   				</div>
	   				<div class="timeline-desc">	   					
	   					<p>BTS Sio option SLAM en cours d'obtiention au Lycée Fulbert, option Développement</p>
	   				</div>
	   			</div> <!-- end timeline-block -->

   			</div> <!-- end timeline-wrap -->	   		
	   		
	   	</div> <!-- end col-six --> 			

		</div> <!-- end row wide -->    	  	

   </section> <!-- end credentials -->


   <!-- portfolio
   ================================================== -->
   <section id="portfolio">

   	<div class="row narrow section-intro with-bottom-sep">
   		<div class="col-twelve">
   			<h3 class="animate-this">Portfolio</h3>
	   		<h1 class="animate-this">Tous mes projets, récents ou pas</h1>  			
	   		
	   		{#<p class="lead animate-this">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>	   			#}
   		</div>   		
   	</div> <!-- end row section-intro -->

   	<div class="row portfolio-content">
   		<div class="col-twelve">
   			<div id="folio-wrap" class="bricks-wrapper">					

   				<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="https://raw.githubusercontent.com/Dummy420/Charibo/master/charibo.png" data-sub-html="#01" > 	
	                  <a href="#" class="overlay">
	                  	<img src="https://raw.githubusercontent.com/Dummy420/Charibo/master/charibo.png" alt="Charibo">	                     
	                     <div class="item-text">
	                     	<span class="folio-types">
		     					      C#
		     					   </span>
		     					   <h3 class="folio-title">Charibo</h3>	     					   
		     					</div>                                        
	                  </a>
	                  <a href="https://github.com/Dummy420/Charibo" class='details-link' title="details">
	                  	<i class="icon-UpRightArrow"></i>
	                  </a>
	               </div> <!-- end item-wrap -->
						
						<div id="01" class='hide'>
							<h4>Charibo</h4>
							<p>Charibo est un combo Jeu/Formulaire <a href="https://github.com/Dummy420/Charibo">Details</a></p>
						</div>
	        		</div> <!-- end folio-item -->

	        		<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-shutterbug.jpg" data-sub-html="#02"> 	
	                  <a href="#" class="overlay">
	                  	<img src="images/portfolio/shutterbug.jpg" alt="Darwin_S">	                     
	                     <div class="item-text">
	                     	<span class="folio-types">
		     					      C#
		     					   </span>
		     					   <h3 class="folio-title">Darwin, Serveur</h3>  	     					   
		     					</div>                                        
	                  </a>
	                  <a href="https://github.com/Dummy420/Darwin_serveur" class='details-link' title="details">
	                  	<i class="icon-UpRightArrow"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="02" class='hide'>
							<h4>Darwin, Serveur</h4>
							<p>Le côté Serveur de mon application de Chat/Sociale Darwin <a href="https://github.com/Dummy420/Darwin_serveur">Details</a></p>
						</div>	               
	        		</div> <!-- end folio-item -->

	        		<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="images/portfolio/gallery/g-shutterbug.jpg" data-sub-html="#03"> 	
	                  <a href="#" class="overlay">
	                  	<img src="images/portfolio/shutterbug.jpg" alt="Darwin_C">	                     
	                     <div class="item-text">
	                     	<span class="folio-types">
		     					      Php
		     					   </span>
		     					   <h3 class="folio-title">Darwin, Client</h3>  	     					   
		     					</div>                                        
	                  </a>
	                  <a href="https://github.com/Dummy420/Darwin_client" class='details-link' title="details">
	                  	<i class="icon-UpRightArrow"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="03" class='hide'>
							<h4>Darwin, Client</h4>
							<p>Le côté Client de mon application de Chat/Sociale Darwin <a href="https://github.com/Dummy420/Darwin_client">Details</a></p>
						</div>	               
	        		</div> <!-- end folio-item --> 				

   			</div> <!-- end folio-wrap -->
   		</div> <!-- end twelve -->
   	</div> <!-- end portfolio-content -->   	

   </section>  <!-- end portfolio -->
   
   	<!-- contact
   ================================================== -->
   <section id="contact">

   	<div class="row contact-info">

   		<div class="col-four tab-full">
   			<h5 class="animate-this">Où me trouver</h5>

   			<p class="animate-this">
            12bis rue Normande<br>
            28230<br>
            Epernon
            </p>
   		</div> <!-- end col-four -->

   		<div class="col-four tab-full collapse">
   			<h5 class="animate-this">Contactez-moi</h5>

   			<p class="animate-this">
   				clement.pavell@gmail.com			     
			   </p>
   		</div> <!-- end col-four -->

   		<div class="col-four tab-full">
   			<h5 class="animate-this">Applez-moi</h5>

   			<p class="animate-this">
   				06 95 61 67 76
			   </p>
   		</div> <!-- end col-four -->
   		
   	</div> <!-- end row contact-info -->
		
	</section> <!-- end contact -->

	<!-- footer
   ================================================== -->
	<footer>
     	<div class="row">

     		<div class="col-twelve tab-full social">
     			<ul class="footer-social">        
			      <li><a href="https://github.com/Dummy420">Github</a></li>
			      <li><a href="https://www.linkedin.com/in/cl%C3%A9ment-pavel-0a6212170/">Linkedin</a></li>
			   </ul> 	      		
	      </div>

      	<div class="col-twelve tab-full">
	      	<div class="copyright">
		        	<span>© Copyright Howdy 2016.</span> 		        	         	
		      </div>		                  
	      </div>      	

      </div> <!-- end row -->

      <div id="go-top">
		   <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-UpArrow"></i></a>
		</div>		
   </footer>

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="{{ asset('js/jquery-2.1.3.min.js') }}"></script>
   <script src="{{ asset('js/plugins.js') }}"></script>
   <script src="{{ asset('js/main.js') }}"></script>

</body>

</html>
{% endblock %}
